<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Utilisateur</div>
                    <a class="nav-link" href="{{ path('app_register') }}">
                        <div class="sb-nav-link-icon">
                            <i class="fas fa-user-plus"></i>
                        </div>
                        Inscription
                    </a>
                    <a class="nav-link" href="{{ path('app_login') }}">
                        <div class="sb-nav-link-icon">
                            <i class="fas fa-sign-in-alt"></i>
                        </div>
                        Connexion
                    </a>
                    <div class="sb-sidenav-menu-heading">Article</div>
                    <a class="nav-link" href="{{ path('app_article_liste') }}">
                        <div class="sb-nav-link-icon">
                            <i class="fas fa-list"></i>
                        </div>
                        Liste
                    </a>
                    <a class="nav-link" href="{{ path('app_article_new') }}">
                        <div class="sb-nav-link-icon">
                            <i class="fas fa-plus"></i>
                        </div>
                        Créer un article
                    </a>
                </div>
            </div>
            <div class="sb-sidenav-footer">
                <div class="small">Connecté en tant que :</div>
                Start Bootstrap
            </div>
        </nav>
    </div>
</div>
